*{
    box-sizing: border-box;
}
body{
    overflow-x: hidden;
    margin: 0;
    background-color: #333;
    color: #222;
}
.container{
    background-color: #fafafa;
    transform-origin: top left;
    transition: transform 0.5s linear;
    width: 100vw;
    min-height: 100vh;
    padding: 50px;
}
.container.show-nav{
    transform: rotate(-20deg);
}
.circle-container{
    position: fixed;
    top: -100px;
    left: -100px;
}
.circle{
    background-color: #ff7979;
    height: 200px;
    width: 200px;
    border-radius: 50%;
    position: relative;
    transition: transform 0.5s linear;
}
.container.show-nav .circle{
    transform: rotate(-70deg);
}
.circle button{
    position: absolute;
    top: 50%;
    left: 50%;
    height: 100px;
    border: 0;
    background: transparent;
    color: #fff;
    font-size: 26px;
    cursor: pointer;
}
.circle button:focus{
    outline: 0;
}
.circle button#open{
    left: 60%;
}
.circle button#close{
    top: 60%;
    transform: rotate(90deg);
    transform-origin: top left;
    cursor: pointer;
}
.cotainer.show-nav + nav li{
    transform: translateX(0);
    transition-delay: 0.3s;
}
nav{

    position: fixed;
    bottom: 40px;
    left: 0;
    z-index: 100;
}
nav ul{
    list-style-type: none;
    padding-left: 30px;
}
nav ul li{
    text-transform: uppercase;
    color: #fff;
    margin: 40px 0;
    transform: translateX(-100);
    cursor: pointer;
    transition: transform 0.4s ease-in;
    height: 26px;
    width: 100px;
}
nav ul li + li{
    margin-left: 20px;
}
nav ul li + li + li{
    margin-left: 40px;
}
nav ul li:hover{
    background-color: grey;
}
article{
    margin: 50px auto;
    max-width: 1000px;
}
article img{
    max-width: 70%;
}
article h1{
    margin: 0;
}
article small{
    color: #555;
    font-style: italic;
}
article p{
    color: #333;
    line-height: 1.5;
}