*{
    box-sizing: border-box;
}
body{
    background-color: #686de0;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    overflow: hidden;
    height: 100vh;
    flex-direction: column;
    padding: 20px;
}
.container{
    background-color: #fff;
    width: 800px;
    max-width: 100%;
    text-align: center;
    border-radius: 10px;
    padding: 50px 20px;
    box-shadow: 0 10px 20px rgba(0,0,0,0.1), 0 6px 6px rgba(0,0,0,0.1);
}
h3{
    margin: 0;
    letter-spacing: 2px;
    opacity: 0.6;
}
.joke{
    font-size: 30px;
    letter-spacing: 1px;
    max-width: 600px;
    padding: 50px auto;
    line-height: 40px;
}
.btn{
    background-color: #9f68e0;
    color: #fff;
    font-size: 16px;
    padding: 14px 40px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.1), 0 6px 6px rgba(0,0,0,0.1);
    border-radius: 10px;
    border: 0;
    cursor: pointer;
    transition: transform 0.5s;
}
.btn:focus{
    outline: 0;
}
.btn:active{
    transform: scale(0.98);
}